.page.login-page
  .container.d-flex.align-items-center
    .form-holder.has-shadow
      .row
        .col-lg-6
          .info.d-flex.align-items-center
            .content
              .logo
                %h1
                  Upinus Partner
              %p
                The partner page of Upinus system.
        .col-lg-6.bg-white
          .form.d-flex.align-items-center
            .content
              .error-explanation.text-danger
                - flash.each do |name, msg|
                  %ul
                    %li= msg
              = form_for(:session, url: login_path, class: "login-form") do |f|
                .form-group
                  = f.email_field :email, class: "input-material", placeholder: "Email"
                .form-group
                  = f.password_field :password, class: "input-material", placeholder: "Password"
                = f.submit "Log in", class: "btn btn-primary"
              %small Do not have an account?
              %a.signup{ href: new_user_path } Signup here
