- provide(:active, "customer")
%section.tables
  .container-fluid
    .row
      .col-lg-12
        .form-group.pull-right
          %a.btn.btn-primary{ href: new_customer_path }
            %span.fa.fa-plus
            Thêm mới khách hàng
      .col-lg-12
        = will_paginate @customers
        .card
          .card-header.d-flex.align-items-center
            %h3.h4 Danh sách khách hàng
          .card-body
            %table.table
              %thead
                %th #
                %th Họ tên
                %th Ngày sinh
                %th Quan hệ
                %th Email
                %th SĐT
                %th Chức năng
              %tbody
                - @customers.each do |customer|
                  %tr
                    %td= customer.id
                    %td
                      %a{ href: edit_customer_path(customer) }
                        = customer.name
                    %td= customer.dob
                    %td= customer.relation
                    %td= customer.email
                    %td= customer.phone
                    %td
                      %a.btn.btn-sm.btn-info{ href: customer_notes_path(customer_id: customer.id) }
                        %span.fa.fa-sticky-note-o
                        Ghi chú
                      %a.btn.btn-sm.btn-default{ href: new_customer_note_path(customer_id: customer.id) }
                        %span.fa.fa-plus
                        Thêm ghi chú
        = will_paginate @customers
