!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title YaroBds
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ href: "https://fonts.googleapis.com/css?family=Poppins:300,400,700", rel: "stylesheet" }/
  %body
  - if admin_logged_in?
    .page.home-page
      = render "shared/admin_header"
      .page-content.d-flex.align-items-stretch
        = render "shared/admin_sidebar"
        .content-inner
          .content-body
            - flash.each do |name, msg|
              %div{ class: "alert alert-#{ name }" }
                = msg
            = yield
  - else
    = yield
